@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/pt-sans-italic.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-narrow-bold.woff2") format("woff2");
  font-display: swap;
}

html {
  min-height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans","Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.button1 {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
}

.button2 {
  font-family: inherit;
  width: 575px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
}


.newsletter-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

.page-header {
  color: #000000;
  background: #ffffff;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  width: 400px;
  margin: 0;
  padding: 0;
}

.navigation-user {
  max-width: 264px;
  margin-left: auto;
}

.navigation-link {
  font-family: "PT Sans","Arial", sans-serif;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.logo {
  display: block;
  margin: 0 auto;
}

.newsletter {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/background-appointment.png");
  width: 1200px;
  height: 411px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.products {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/catalog-background.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.advantages {
  width: 1200px;
  text-align: center;
}

.advantages-item-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1200px;
  height: 282px;
  background-color: #ffffff;
}

.advantages-title-titles {
  font-family: "PT Sans","Arial", sans-serif;
  width: 720px;
  margin: 0 auto;
  font-size: 30px;
  line-height: 36px;
}

.advantage-description-titles {
  font-family: "PT Sans","Arial", sans-serif;
  width: 720px;
  margin: 0 auto;
  font-size: 22px;
  line-height: 36px;
}

.advantages-item-town {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  height: 384px;
  width: 1200px;
  text-align: center;
  background-color: #83B3D3;
}

.advantages-title-town {
  font-family: "PT Sans","Arial", sans-serif;
  width: 400px;
  color: #ffffff;
  font-size: 24px;
  line-height: 28px;
}

.advantage-description-town {
  font-family: "PT Sans","Arial", sans-serif;
  width: 220px;
  margin: 0 auto;
  color: #ffffff;
  font-size: 18px;
  line-height: 21px;
}

.advantages-list-services {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 384px;
}

.advantages-item-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 384px;
}

.advantages-item-services:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  width: 400px;
  height: 384px;
}

.advantages-title-services {
  font-family: "PT Sans","Arial", sans-serif;
  width: 250px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 28px;
}

.advantage-description-services {
  font-family: "PT Sans","Arial", sans-serif;
  width: 250px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 21px;
}

.advantages-item-bridge {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  height: 384px;
  width: 1200px;
  text-align: center;
  background-color: #83B3D3;
}

.slider-image-bridge {
  order: -1;
}

.advantages-title-bridge {
  font-family: "PT Sans","Arial", sans-serif;
  color: #ffffff;
  width: 400px;
  font-size: 24px;
  line-height: 28px;
}

.advantage-description-bridge {
  font-family: "PT Sans","Arial", sans-serif;
  color: #ffffff;
  margin: 0 auto;
  width: 220px;
  font-size: 18px;
  line-height: 21px;
}

.advantages-list-features {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 384px;
}

.advantages-item-features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 384px;
}

.advantages-item-features:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
  height: 384px;
}

.advantages-title-features {
  font-family: "PT Sans","Arial", sans-serif;
  width: 250px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 28px;
}

.advantage-description-features {
  font-family: "PT Sans","Arial", sans-serif;
  width: 250px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 21px;
}

.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.advantages-item {
  width: 400px;
}

.advantages-title {
  font-family: "PT Sans","Arial", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantage-description {
  font-family: "PT Sans","Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.advantages-name {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog-products {
  display: flex;
  flex-direction: row;
}

.sorting {
  display: flex;
  flex-direction: row;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

.product-card {
  display: flex;
  flex-direction: column;
  width: 340px;
}

.pagination-soting {
  display: flex;
  flex-direction: row;
}


.appointment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 417px;
}

.appointment-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.page-footer-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.page-footer-description {
  color: #FFFFFF;
}

.page-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

.footer-contacts-address-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.inner-header-title {
  font-size: 66px;
  line-height: 77px;
  color: #ffffff;
  text-transform: uppercase;
}

.breadcrumbs {
  color: #ffffff;
}

.breadcrumbs-link {
  color: inherit;
}
.catalog-filter-title {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.control-label {
  font-weight: 700;
}

.sorting {
  color: #000000;
  background-color: #ffffff;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
}

.product-card-price {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #000000;
}

.pagination {
  background-color: #ffffff;
}

.pagination-link {
  color: #ffffff;
  background-color: #83B3D3;
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}

.pagination-current {
  color: #242424;
  background-color: #ffffff;
}

.product-card-button1 {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
}

.product-card-button2 {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

.product-card-button3 {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #7DB54F;
  text-decoration: none;
  text-transform: uppercase;
}
